.section8
    width: 100%
    .sec8Title
        width: 100%
        gap: 0.5rem
        .sec8in
            display: flex
            gap: 1rem
            .lignesec8
                position: relative
            .lignesec8::after
                position: absolute
                content: ''
                width: 100px
                border: 0.2px solid rgb(44, 43, 43,30%)
                top: 50%
        h2
            font-family: "Playfair Display"
