.section3
    width: 100%
    .sec3Top
        width: 100%
        display: flex
        align-items: center
        gap: 0.5rem
        .lignesec3
            position: relative
        .lignesec3::after
            position: absolute
            content: ''
            width: 100px
            border: 0.2px solid rgb(44, 43, 43,30%)
            top: 50%
    .btn-group 
        margin-bottom: 1rem

        .btn 
            background-color: #333
            color: #fff 
            &:hover 
            background-color: lighten($color: #333, $amount: 10%)
        .menu 
        background-color: #222  
        color: #fff 
        padding: 1rem
        .menu-item 
            margin-bottom: .5rem
            &.collapse:not(.show) 
            display: none
            
        
// .menu #menu-flters 
//   padding: 0
//   margin: 0 auto 0 auto
//   list-style: none
//   text-align: center
//   border-radius: 50px


// .menu #menu-flters li 
//   cursor: pointer
//   display: inline-block
//   padding: 8px 12px 10px 12px
//   font-size: 16px
//   font-weight: 500
//   line-height: 1
//   color: #fff
//   margin-bottom: 10px
//   transition: all ease-in-out 0.3s
//   border-radius: 50px
//   font-family: "Playfair Display", serif


// .menu #menu-flters li:hover,.menu #menu-flters li.filter-active 
//   color: #cda45e


// .menu #menu-flters li:last-child 
//   margin-right

// .menu .menu-ite
//   margin-top: 50

// .menu .menu-im
//   width: 70
//   border-radius: 5
//   float: le
//   border: 5px solid rgba(255, 255, 255, 0%)

// .menu .menu-content
//   margin-left: 85p
//   overflow: hidde
//   display: fle
//   justify-content: space-betwee
//   position: relativ

// .menu .menu-content::after 
//   content: "......................................................................" "...................................................................." "...................................................................."
//   position: absolute
//   left: 20px
//   right: 0
//   top: -4px
//   z-index: 1
//   color: #bab3a6
//   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif


// .menu .menu-content a 
//   padding-right: 10px
//   background: #1a1814
//   position: relative
//   z-index: 3
//   font-weight: 700
//   color: white
//   transition: 0.3s


// .menu .menu-content a:hover 
//   color: #cda45e


// .menu .menu-content span 
//   background: #1a1814
//   position: relative
//   z-index: 3
//   padding: 0 10px
//   font-weight: 600
//   color: #cda45e


// .menu .menu-ingredients 
//   margin-left: 85px
//   font-style: italic
//   font-size: 14px
//   font-family: "Poppins", sans-serif
//   color: rgba(255, 255, 255, 0.5)

