.section2
    width: 100%
    .sec2Top
        width: 100%
        display: flex
        align-items: center
        gap: 0.5rem
        .ligne
            position: relative
        .ligne::after
            position: absolute
            content: ''
            width: 100px
            border: 0.2px solid rgb(44, 43, 43,30%)
            top: 50%
    .sec2Bottom
        .container
            .row
                .col-md-4
                    .carte:hover
                        background-color: #CDA45D !important
                        .card-title
                            color: #fff !important






@media (min-width: 768px) and (max-width: 1024px ) 
    .carte
        width: 38rem !important
        margin-bottom: 1rem !important

            
@media (min-width: 375px) and (max-width: 450px )
        .carte
            // width: 22rem !important
            margin-top: 1rem !important
